<div class="jumbotron text-center" style="margin-bottom:0">
    
   <h1 class='display4 header-text'><%= @scenario.title%></h1>
   <%= link_to 'Home Page', root_path()%>
    
</div>

<div class="container">
    <div class="row mt-2 mb-2">
        <div class="col-4"></div>
        <div class="col-4">
            <!--<%= image_tag '/assets/village.jpg', style: 'height:max-height;width:max-width;' %>-->
            <img class="img-responsive" src="/assetsvillage.jpg" style="width: 100%; height: 100%">
        </div>
        <div class="col-4"></div>
    </div>
</div>

<div class="container">
    
    <%= @scenario.description%>
    
</div>
<div class="container">
    
    <!--<%= link_to 'Start', show_history_path(id: @scenario.id), class: "scenario_start"%>-->
    <%= form_tag create_player_path(scenario_id: @scenario.id) do %>
            <div class="row">
                <div class="col-11">
                    <%= text_field_tag :name,"", placeholder: "What is your name ?",  class: 'form-control', required: true %>
                </div>
                <div class="col-1">
                    <%= submit_tag "Start", class: "btn btn-default btn-primary" %>  
                </div>
            </div>
    <% end %>
</div>