
<div class="jumbotron text-center" style="margin-bottom:0">
    
    <h1 class="display-4 header-text">Interactions with the various tribes<%#= @scenario.title%></h1>
    <%= link_to 'Restart Game', detail_path(id: @scenario.id), class: "scenario_start"%>
   <%#= <div class="container"><%#= @scenario.description%><%#=</div>%>
</div>

<div class="container">
    <div class="utContainer">
    <h3>What can you talk about</h3>
    <div class="scrolly">
      <% @group_possible_questions.each do |u| %>
        <div class='ut'><%= u.question %></div>  
      <% end %>
    </div>
    </div>

    <div class="card">
        <% flash.each do |name, msg|%>
            <div class='alert alert-<%= name %>'>
                <%= msg %>
            </div>
        <%end%>
        <div class="card-header text-center">
            <%#= link_to 'Restart Game', detail_path(id: @scenario.id), class: "scenario_start"%>
            <%#= Team: Rails (Spring 2019)%>
            <br/>
                <div><b>Villager Response --> :-(</b> <%#<%= @player_group_standing.current_standing%> </div>
            <br/>
            <ul class="nav nav-tabs">
                <% @available_groups.each do |group| %> 
                    <li class="nav-item">
                        <% if group.id == @active_group.id %>
                            <%= form_tag show_history_path(id: @scenario.id, active_id: group.id), {:method => :get} do %>
                                <div class="nav-link active"><%= submit_tag "#{group.name}", class: "btn btn-link" %> </div>
                            <% end %>
                        <% else %>
                            <%= form_tag show_history_path(id: @scenario.id, active_id: group.id), {:method => :get} do %>
                                <div class="nav-link"><%= submit_tag "#{group.name}", class: "btn btn-link" %> </div>
                            <% end %>
                        <% end %>
                    </li>
                <% end%>
                
            </ul>
        </div>
        
        <script type="text/javascript">
        window.onload = function() {
            var scrollingBody = (document.scrollingElement || document.body);
            var scrollingChat = document.getElementById("chat-body");
            scrollingBody.scrollTop = scrollingBody.scrollHeight;
           scrollingChat.scrollTop = scrollingChat.scrollHeight;
           document.getElementById('user_question').focus();
        };
        </script>
        
        <div id="chat-body" class="card-body scroll" onload="scrollToBottom()">
            <% @histories.each do |history| %> 
                <div class="row">
                    <div class="col-12">
                        <div class='float-right box sb1'>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right message_sender"><%= @player.name%></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right messages"><%= history.possible_question.question %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-12">
                        <div class='float-left box sb2'>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-left message_sender"><%= @active_group.name %></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-left messages"><%= history.possible_response.response %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            <% end%>
            
            <div class="row">
                <div class="col-6">
                    <h5 class="text-center"><%= @active_group.name%></h5>
                </div>
                <div class="col-6">
                    <h5 class="text-center"><%= @player.name%></h5>
                </div>
            </div>
            
        </div>
        

        
        <div class="card-footer">
            <%= form_tag reply_to_question_path(id: @scenario.id, active_id: @active_group.id) do %>
            <div class="row">
                <div class="col-10">
                    <%= text_field_tag :user_question, "",  class: 'form-control' %>
                </div>
                <div class="col-1">
                    <%= submit_tag "Submit", class: "btn btn-default btn-primary" %>  
                </div>
            </div>
            <% end %>
        </div>
        
    </div>

</div>