<!--
<div class="text_center">
    <h1>Scenario: <%=@scenario%></h1>
</div>
<img src="/assets/village.jpg" class="main_image">
<div class = "main_text">
    <p>You are a member of a team of public relations officers assigned to a project.
    This project is a joint alliance between the US and Peruvian governments. Your role
    on this project tea is to provide public updates on this hight profile project
    --- a project that is costing the US and Peruvian governments LOTS of money.</p>
</div>
<div class="text_center">
    <textarea class = "text_input" type="text" name = "testInput"></textarea>
</div>
-->

<div class="jumbotron text-center" style="margin-bottom:0">
    
    <h1 class="display-4 header-text">Scenario: <%= @scenario.title%></h1>
    
    <div class="container"><%= @scenario.description%></div>
    
</div>

<div class="container">

    <div class="card">
        <% flash.each do |name, msg|%>
            <div class='alert alert-<%= name %>'>
                <%= msg %>
            </div>
        <%end%>
        <div class="card-header text-center">
            Conversations
            <ul class="nav nav-tabs">
                <% for i in 0..@number_of_groups %> 
                    <li class="nav-item">
                        <% if @groups[i].id == @active_group %>
                            <% active_id = @groups[i].id %>
                            <%= form_tag show_input_path(id: @scenario, active: active_id) do %>
                                <!--<div class="nav-link active"><%= link_to "#{@groups[i].name}", show_input_path(id: @scenario, active: 1) %></div>-->
                                <div class="nav-link active"><%= submit_tag "#{@groups[i].name}", class: "btn btn-link" %> </div>
                            <% end %>
                        <% else %>
                            <% active_id = @groups[i].id %>
                            <%= form_tag show_input_path(id: @scenario, active: active_id) do %>
                                <!--<div class="nav-link active"><%= link_to "#{@groups[i].name}", show_input_path(id: @scenario, active: 1) %></div>-->
                                <div class="nav-link"><%= submit_tag "#{@groups[i].name}", class: "btn btn-link" %> </div>
                            <% end %>
                        <% end %>
                    </li>
                <% end%>
                
            </ul>
        </div>
        
        <div class="card-body scroll">
            <% for i in 0..@number_of_questions %> 
                <div class="row">
                    <div class="col-12">
                        <div class='float-right box sb1'>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right message_sender"><%= @player.name%></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-right messages"><%= @question_history[i] %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class='float-left box sb2'>
                            <!--<%= @response_history[i] %>-->
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-left message_sender"><%= @active_group_name %></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="float-left messages"><%= @response_history[i] %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end%>
            
            <div class="row">
                <div class="col-6">
                    <h5 class="text-center"><%= @active_group_name%></h5>
                </div>
                <div class="col-6">
                    <h5 class="text-center"><%= @player.name%></h5>
                </div>
            </div>
            
        </div>
        
        <div class="card-footer">
            <%= form_tag show_input_path(@scenario) do %>
            <div class="row">
                <div class="col-11">
                    <!--<input class="form-control form-control-lg" type="text" placeholder="Input">-->
                    <!--<%= text_field_tag 'name'%>-->
                    <%= text_field_tag :user_question, "",  class: 'form-control' %>
                </div>
                <div class="col-1">
                    <!--<div class="btn btn-primary">
                      Submit
                    </div>-->
                    <%= submit_tag "Submit", class: "btn btn-default btn-primary" %>  
                </div>
            </div>
            <% end %>
        </div>
        
    </div>

</div>